body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1 {
	font-weight: 500;
	font-size: 2.2rem;
	margin: 3% 0;
}

p {
	font-weight: 400;
	margin: 1% 0;
	font-size: 1.1em;
}

.small-text {
	color: #757575;
	font-size: 12px;
	font-weight: 300;
}

.purple-button {
	background-color: #BA3FCA;
	color: white;
	padding: 3% 5%;
	margin: 4% 0;

	border: none;
	border-radius: 5px;
	
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}

.container {
	width: 90%;
	margin: auto;
}

/* Header */
header {
	background-color: white;
	width: 100%;
	height: 70px;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 999;

	display: flex;
	align-items: center;
}

.logo {
	margin-left: 5%;
	width: 45%;
}

/* Navigation - hamburger menu */
.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 5%;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: rgb(0, 0, 0);
	width: 1.7em;
	height: 3px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 25px;
	right: 0;
	width: 1em;
}

.nav-toggle-label span::after {
	top: 25px;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	right: 0;
	background: rgb(255, 255, 255);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 200ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: .25em;
	padding: .75em;
	
	margin-left: 1em;
	margin-right: 1em;
	border-bottom: #D1D1D1 solid 1px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 500;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	color: black;
}

.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 150ms ease-in-out 150ms;
}


/* Main */
/* Hero */
.hero {
	background-image: url("assets/ameer-basheer-gV6taBJuBTk-unsplash\ 2.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 100%;
	height: 80vh;
	background-position: center;
	position: relative;
    z-index: -1;
}

.hero-text {
	position: absolute;
    top: 15%;
	left: 5%;
	right: 5%;
	z-index: 999;

	color: white;
}

#hero-p-text {
	line-height: 1.7;
}

/* Books */
.popular-books, .newly-released {
	padding-top: 15%;
	padding-bottom: 15%;
}

.books-text-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.browse-link {
	color: #BA3FCA;
	font-weight: 700;
}

.scroll-container {
	overflow: auto;
	white-space: nowrap;
	padding: 4% 4% 4% 0;
	background: transparent;
	height: 100%;
	border-radius:15px;
}

.book-holder {
	display: inline-block;
	display: flex;
}

.popular-books-scroll, .newly-released-scroll {
	margin-right: 4%;
	width: 40%;
}

.books {
	width: 130px;
	height: auto;
}

.stars {
	margin: 5% 0;
}

.fa-star {
	color: #C4C4C4;
}

.checked {
	color: #FFA500;
}

.title {
	margin: 1% 0;
	word-wrap: break-word;
	white-space: normal;
}


/* Promotion */
.promotion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #F9F1FA;
	
	position: relative;
	margin-top: 10%;
}

.promotion-img-holder {
	display: flex;
	justify-content: center;
}

.promotion-img {
	width: 80%;
	position: absolute;
	top: -15%;
	z-index: 99;
}

.promotion-container {
	padding-bottom: 15%;
	padding-top: 40%;
	margin-top: 25%;
}

.get-app {
	display: flex;
	justify-content: center;
	align-items: center;
}

.badge {
	width: 40%;
	padding: 2%;
}


/* FAQ */
.FAQ {
	background-color: #F2F2F2;
}

.FAQ-holder {
	padding-top: 10%;
	padding-bottom: 10%;
}

#FAQ-header {
	padding-bottom: 8%;
	margin-bottom: 8%;
	border-bottom: #D1D1D1 solid 1px;
}

.question {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 8%;
	padding-bottom: 8%;

	border-bottom: #D1D1D1 solid 1px;
}

.question p {
	font-weight: 500;
	font-size: medium;
}

.FAQ-illustration {
	display: none;
}

/* 
@todo change '+' to span, make an accordion.
 */
.question span {
	color: #BA3FCA;
	font-size: 1.7rem;
	font-weight: 300;
}

/* Footer */
footer {
	background-color: black;
	color: white;
}

footer a {
	color: white;
	padding: 4% 0;
	font-weight: 300;
	font-size: 16px;
}

#footer-symbol-logo {
	display: none;
}

.footer-logo-container {
	display: flex;
	justify-content: center;
	margin: 10% 0;
}

.footer-holder {
	padding-top: 5%;
	padding-bottom: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.footer-logo {
	width: 60%;
	padding: 4% 0;
}

.footer-links {
	width: 50%;
	padding-bottom: 10%;

	display: flex;
	justify-items: center;
	flex-direction: column;
	align-items: center;
}

.social {
	display: flex;
	width: 70%;
	height: auto;
	justify-content: center;
	align-items: center;
	margin: 5% 0;
}

.circle {
	width: 50px;
	height: 50px;
	background-color: #242424;
	border-radius: 50%;
	margin: 4%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.circle a {
	text-decoration: none;
	font-size: x-large;
}

.footer-info {
	width: 70%;
	margin: 5% 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-info a {
	font-size: 0.8em;
	padding: 2%;
}

.company {
	margin: 5% 0;
}

@media screen and (min-width: 835px) {
	h2 {
		font-size: 1.8em;
	}

	/* Header */	
	.logo {
		width: 25%;
	}

	/* Main */
	/* Hero */
	.hero {
		height: 40vh;
	}
	
	.hero-text {
		width: 70%;
		margin-left: 0;
	}
	
	#hero-p-text {
		width: 80%;
	}

	/* Books */
	.book-holder {
		display: inline-block;
		display: flex;
		width: 165%;
	}
	
	.popular-books-scroll, .newly-released-scroll {
		margin-right: 4%;
		width: 40%;
	}

	.popular-books, .newly-released {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	
	.books {
		width: 100%;
		height: auto;
	}

	/* Promotion */
	.promotion {
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-top: 5%;
		width: 100%;
	}

	.promotion-img {
		width: 55%;
		top: -15%;
		right: 0;
		z-index: 99;
	}

	.promotion-container {
		padding-bottom: 15%;
		padding-top: 1%;
		padding-left: 5%;
		margin-top: 10%;
		width: 45%;
	}

	/* FAQ */

	#FAQ-header {
		padding-bottom: 4%;
		margin-bottom: 4%;
	}
	
	.question {
		margin-bottom: 4%;
		padding-bottom: 4%;
	}
	
	.question p {
		font-size: large;
	}


	/* Footer */
	.footer-holder {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-bottom: 2%;
		align-items: flex-start;
	}

	.footer-logo-container {
		width: 15%;
		margin-top: 0;
	}

	.footer-logo {
		width: 40%;
	}

	#footer-full-logo {
		display: none;
	}

	#footer-symbol-logo {
		display: inline;
	}

	.footer-content {
		width: 50%;
	}

	.footer-links {
		align-items: flex-start;
	}

	.social {
		width: 30%;
		margin-top: 0;

	}

	.footer-info {
		width: 45%;
		margin-bottom: 0;
	}

	.company {
		width: 45%;
		display: flex;
		justify-content: right;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1440px) {
	h2 {
		font-size: 2.2em;
	}
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
	}

	.logo {
		grid-column: 2/3;
	}

	nav {
		all: unset;
		grid-column: 3/5;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
	}
	nav a {
		opacity: 1;
		position: relative;
	}

	/* FAQ */
	.FAQ {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.FAQ-holder {
		width: 45%;
	}

	.FAQ-illustration {
		display: inline;
		width: 45%;
	}

	#FAQ-illustration {
		width: 80%;
		height: auto;
	}
}